* {
  font-family: 'Playfair Display';
  font-weight: 300;
}
.rania{
  font-family: 'Playfair Display';
}

.container{
  max-width: fit-content;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar {
  width: 100vw;
  height: 3em;
  left: 0px;
  top: 0px;
  background-color: #F2F2F2;
}

.nav-item{
  background-color: #F2F2F2 !important;
}

.accordion {
  width: 40%;
  min-width: 20vw;
  max-width: 400px;
  margin: 1em auto;
}

body {
  background-color: #D1EBED;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size:1.1em;
  margin: 1em 0;
  color: #575757;
}

.description {
  margin: 1em auto 2.25em;
}

ul {
  list-style: none;
  padding: 0;
}

.table th{
  font-size:1.1em;
  color: #575757;
}

.table tr{
  font-size:1.1em;
  color: #575757;
}

.inner {
  padding-left: 1em;
  overflow-x: hidden;
  display: none;
}
  
li {
  margin: .5em 0;
  color: #575757;
}
      
a.toggle {
  width: 100%;
  display: block;
  background-color: #F2F2F2;
  color: #575757;
  padding: .75em;
  border-radius: 0.15em;
  transition: background-color 0.3s ease 0s;
}

a.toggle:hover {
  background-color: #fac7cf;
}

:root {
  --text: #fac7cf;
  --highlight:  #F2F2F2;
}

.theme-switch {
  --background: #fff;
  --text: #fac7cf;
  color: var(--text);
  width: 70px;
  height: 30px;
  background: var(--highlight);
  border-radius: 50px;
  position: relative;
  margin: 1em;
}

.theme-switch .switch {
  background: #fac7cf;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: 0.5s all ease;
}

.dark-theme {
  --background: rgb(6, 6, 51);
  --text: #fac7cf;
  background: var(--background);
}

.dark-theme .theme-switch {
  background: var(--text);
}

.dark-theme .theme-switch .switch {
  background:  #f2f2f2;
  transform: translateX(37px);
}

.dark-theme li {
  color: var(--text);
}

.dark-theme p {
  color: var(--text);
}

.dark-theme .table th{
  color: var(--text);
}

.dark-theme .table tr{
  color: var(--text);
}

.dark-theme .header {
  background: var(--text);
}

.dark-theme a {
  background-color: var(--text);
}

.dark-theme a.toggle:hover {
  background-color: #F2F2F2;
}

