<!DOCTYPE html>
{% comment %} {% extends 'navbar.html' %} {% endcomment %}
{% load static %}
<title>Welcome</title>
<link rel="stylesheet" type = "text/css" href = "{% static 'css/story7.css' %}" />
{% block content %}
    <div style="margin-top: 10vw; margin-left: 2vw; margin-right: 2vw;">
    <h1 class="d-flex justify-content-center">Welcome!</h1>
    <div class="d-flex justify-content-center">
        {% if user.is_authencticated %}
            <a href="{% url 'story7:logout_url' %}">Logout</a>
            {% else %}
                <a class="mr-5" href="{% url 'story7:login_url' %}">Login</a>
                <a href="{% url 'story7:register_url' %}">Register</a>
        {% endif %}
    </div>
    </div>
{% endblock %}
