<!DOCTYPE html>
{% comment %} {% extends 'navbar.html' %} {% endcomment %}
{% load static %}
<title>Register</title>
<link rel="stylesheet" type = "text/css" href = "{% static 'css/story7.css' %}" />
{% block content %}
    <div class="jumbotron" style="margin-top: 10vw; margin-left: 2vw; margin-right: 2vw;background-color: white;">
        <h1>Create New Account</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>REGISTER</button>
    </div>
{% endblock %}
