<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Profile Rania</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href = "{% static 'css/story7.css' %}" />

</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                 <nav class="navbar navbar-expand-md navbar-light nav-home">
                    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                        <div class="navbutton navbar-nav">
                            <a class="nav-item nav-link" href="{% url 'story7:story7' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'story7:story8' %}">Books</a>
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link" href="{% url 'story7:logout_url' %}">Logout</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'story7:register_url' %}">Register</a>
                                <a class="nav-item nav-link" href="{% url 'story7:login_url' %}">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="theme-switch">
                    <div class="switch"></div>
                </div>
                <p>Switch theme</p>
            </div>

            <div class="jumbotron" style="margin-top: 2vw; margin-left: 2vw; margin-right: 2vw;">
                <h1 class="d-flex justify-content-center">Selamat Datang, {{user.username}}</h1>
            </div>

            <div class="row">
                <ul class="accordion">
                    <li>
                        <a class="toggle" href="javascript:void(0);">Activities</a>
                        <ul class="inner">
                            <li>Belajar</li>
                            <li>Nugas</li>
                            <li>COMPFEST</li>
                            <li>BEM</li>
                            <li>Asdos</li>
                            <li>Bertahan hidup</li>
                        </ul>
                    </li>
                    
                    <li>
                        <a class="toggle" href="javascript:void(0);">Experiences</a>
                        <ul class="inner">
                            <li>Staf PSDM BEM Fasilkom 2019/2020</li>
                            <li>Staf LO Open House Fasilkom 2019</li>
                            <li>Software Development Intern Indonesia Stock Exchange</li>
                            <li>Staf Direct Marketing COMPFEST 11</li>
                            <li>Staf Humas Educare 2019</li>
                            <li>Staf Dekorasi CGT 2019</li>
                            <li>Staf HumPub Open House Fasilkom 2018</li>
                        </ul>
                    </li>
                    
                    <li>
                        <a class="toggle" href="javascript:void(0);">Achievements</a>
                        <ul class="inner">
                            <li>Bertahan hidup 19 tahun 3 bulan</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static "js/story7.js" %}"></script>

</body>

</html>