<!DOCTYPE html>
{% load static %}

<head>
    <title>Search Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/story7.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                 <nav class="navbar navbar-expand-md navbar-light nav-home">
                    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                        <div class="navbutton navbar-nav">
                            <a class="nav-item nav-link" href="{% url 'story7:story7' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'story7:story8' %}">Books</a>
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link" href="{% url 'story7:logout_url' %}">Logout</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'story7:register_url' %}">Register</a>
                                <a class="nav-item nav-link" href="{% url 'story7:login_url' %}">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>

            <div class="row">
                <div class="theme-switch">
                    <div class="switch"></div>
                </div>
                <p>Switch theme</p>
            </div>
            
            <div>
                <p id="judul">Search Your Favorite Book Here</p>
            </div>

            <div class="search-box">
                <input class="search-txt" type="search" id="searchField" name="" value="" placeholder="Type to search">
                <button class="search-btn" type="button" name="button"><i class="fas fa-search"></i></button>
            </div>
            
            <table class="table"></table>
        </div> 

    </div>

    <script src="{% static 'js/story8.js' static %}"></script>
    <script src="{% static 'js/story7.js' static %}"></script>

</body>
</html>

