<!DOCTYPE html>
{% comment %} {% extends 'navbar.html' %} {% endcomment %}
{% load static %}
<title>Login</title>
<link rel="stylesheet" type = "text/css" href = "{% static 'css/story7.css' %}" />
{% block content %}
    <div class="jumbotron" style="margin-top: 10vw; margin-left: 2vw; margin-right: 2vw;">
        <p>Masuk</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>LOGIN</button>
    </div>
{% endblock %}
